/* Estilos Gerais */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  padding: 10px 20px;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container .logo {
  max-width: 150px;
}

.navbar {
  display: flex;
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-menu li {
  margin-left: 20px;
}

.nav-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  padding: 10px;
  transition: background 0.3s;
}

.nav-menu a:hover {
  background-color: #444;
  border-radius: 5px;
}

/* Ícone de Menu Hamburguer */
.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  /* Exibindo o ícone do menu hamburguer */
  .menu-icon {
    display: block;
  }

  /* Menu no mobile: quando o menu é ativado */
  .nav-menu.active {
    display: block;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 60px; /* Altura do header */
    left: 0;
    padding: 10px 0;
    z-index: 99; /* Garantir que fique sobre outros elementos */
  }

  .nav-menu li {
    margin: 10px 0;
    text-align: center;
  }

  .nav-menu a {
    font-size: 1.2rem;
    padding: 15px;
    display: block;
  }

  /* Melhorando o ícone de menu (hamburguer) */
  .menu-icon {
    color: #fff;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
  }
}

/* Estilos para o Banner */
.banner {
  margin-top: 70px; /* Para dar espaço ao menu fixo */
  position: relative;
  text-align: center;
}

.banner-img {
  width: 100%;
  height: auto;
  max-height: 400px;
}

/* Estilos do Footer */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}
